.user_name {
	color: #00529B;
	display: inline-block;
}

.message_inc {
	color: #4F8A10;
	display: inline-block;
}

#authorise {
	width: 720px;
}

#connections {
	float: right;
	width: 200px;
	height: 500px;
	background: black;
	color: white;
	padding: 5px;
}

#chat_output {
	height: 500px;
	width: 500px;
	background: #eeeeee;
	overflow-y: auto;
	padding: 5px;
}

body {
	background: #efefef;
}
