<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" type="text/css" href="../css/style.css">
    <title>ЧАТ | Вход</title>
	<script src="../js/jquery-3.3.1.js"></script>
</head>
<body>

<script type="text/javascript" src="../js/window.js"></script>
<script>
$(document).ready(function () {	
	$('.register').submit(function (event) {
		$.post({
			url:"../public/index/register",
			data:$(this).serialize(),
    		success:function(){
				$('#authorise').load(document.URL +  ' #authorise');
    		}
			});
        // Отменяем отправку формы.
        return false;
    });
	$('.login').submit(function (event) {
		$.post({
			url:"../public/index/login",
			data:$(this).serialize(),
    		success:function(data){
				console.log(data);
				window.location = '../public/chat';
    		}
			});
        // Отменяем отправку формы.
        return false;
    });
});
</script>{% if account != true %}
<div id="authorise">
	<h3>Авторизуйтесь, чтобы начать писать сообщения.</h3>
	<form  class='login' action='../public/chat' method="post">
    	<input class='upload_input' type="text" name="user" placeholder="Никнейм">
    	<input class='upload_input' type="password" name="password" placeholder="Пароль">
    	<input class='menu_list_link centered' type="submit">
	</form>
	<h3>Если вы впервые здесь, то зарегистрируйтесь:</h3>
	<form class='registration' action='../public/chat' method="post">
    	<input class='upload_input' type="text" name="user" placeholder="Никнейм">
    	<input class='upload_input' type="password" name="password" placeholder="Пароль">
    	<input class='menu_list_link centered' type="submit">
	</form>
</div>
{% else %}
<a href='public/chat'>Начать чат</a>
<a href='public/logout'>Деавторизоваться</a>
<div id="chat_output"></div>
{% endif %}
</body>
</html>